html {
  background-image:  repeating-radial-gradient(circle at 0 0, transparent 0,
  #2f3638 62px), repeating-linear-gradient(#191615, #191615);
  background-color: #2f3638;
  scroll-behavior: smooth;
}

body { 
  max-width: 375px; 
  background-color: #153643;
  margin: auto;
  color: #DBD2D8;
}

img { 
  display: block; 
  margin-bottom: 0;
}

/* here starts the nav section */
nav .navigation {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #ED9B28;
  list-style-type: none;
  padding-left: 0;
  border-top: 5px black solid;
  border-bottom: 5px black solid;
  align-items: center;
  margin: 0;
}

.element {
  font-family: Nunito;
  font-weight: bold;
  color: black;
  text-align: center;
}

.element:hover {
  background-color: #EB7C2B;
  transition: 1s;
  color: white;
}

.element a {
  text-decoration: none;
  color: inherit;
  padding: 18px 23px;
  display: inline-block;
}

/* here starts the main section */
main {
  background-image: url("../img/fond-site.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2360px;
}

h1 {
  text-align: center;
  font-family: brush-script-std, sans-serif;
  font-size: 70px;
  font-weight: 100;
  margin: 0 53px 95px 53px;
  padding-top: 35px;
}

.part-1-title {
  color: #EB7C2B;
}

.part-2-title {
  color: #163643;
}

h2 {
  font-size: 35px;
  font-family: brush-script-std;
  text-align: center;
  font-weight: 100;
  margin: 30px;
  color: #EB7C2B;
}

.description {
  font-size: 15px;
  margin: 0 40px 70px 40px;
  text-align: left;
  color: #153643;
}

.p-1 {
  margin-left: 128px;
  margin-right: 20px;
  margin-bottom: 70px;
  color: #153643;
}

.p-2 {
  margin: 0 50px 45px 30px;
}

.img-main {
  width: 327px;
}

.portrait {
  margin: 0px 23px 7px 23px;
  width: 327px;
}

.img-txt {
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  margin: 0 0 40px 0;
}

.img-txt, .description {
  font-family: seravek;
}

.quote {
  color: #163643;
  font-family: seravek;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  margin: 58px 30px 45px 40px;
}

.quote-1 {
  font-size: 36px;
  line-height: 20px;
}

.quote-3 {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}



footer {
  background-color: #153643;
  color: #EB7C2B;
  border-top: #EB7C2B 2px dotted;
  font-family: seravek;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 20px 0 110px 0;
}

.references-1 {
  font-weight: 500;
}

.references-3 {
  line-height: 18px;
  font-size: 11px;
}





/* here is the player section */
.player {
  background-color: #ED9B28;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 375px;
  margin: auto;
}

.album {
  height: 90px;
  width: 90px;
  object-fit: fill;
}

.player-txt {
  padding: 20px 50px 20px 20px;
  margin: 0;
  font-family: Nunito, sans-serif;
  font-weight: normal;
  color: black;
}

.song {
  font-size: 20px;
  font-family: Nunito, sans-serif;
  font-weight: bold;
}

.artist {
  font-family: sans-serif;
  font-size: 16px;
}

.play-button {
  height: 55px;
  width: 55px;
  margin: auto 15px auto 0;
}

.play-button:hover{
  cursor: grab;
}