body {
  max-width: 375px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

nav .container {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: red;
  align-items: center;
}

.element {
  font-family: Nunito;
  font-weight: bold;
  padding: 18px 23px;
}

.element:hover {
  background-color: blue;
  transition: 1s;
}