html {
  background: rgb(163,212,228);
  background: radial-gradient(circle, rgba(163,212,228,1) 0%,
  rgba(98,73,95,1) 100%);
  scroll-behavior: smooth;
}

body { 
  max-width: 375px; 
  background-color: #153643;
  margin: auto;
  color: #DBD2D8;
}

img { 
  display: block; 
  margin-bottom: 0;
}






nav .container {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #ED9B28;
}

.element {
  font-family: Nunito;
  font-weight: bold;
  padding: 18px 23px;
  color: black;
  border-top: 5px black solid;
  border-bottom: 5px black solid;
}

.element:hover {
  background-color: #EB7C2B;
  transition: 1s;
  color: white;
}

.element a {
  text-decoration: none;
  color: inherit;
}




main {
  background-image: url("../img/fond-site.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2360px;
}

h1 {
  text-align: center;
  font-family: brush-script-std, sans-serif;
  font-size: 70px;
  font-weight: 100;
  margin: 0 53px 95px 53px ;
  padding-top: 30px;
}

.part-1-title {
  color: #EB7C2B;
}

.part-2-title {
  color: #163643;
}

.description {
  font-size: 15px;
  margin: 0 40px 70px 40px;
  text-align: left;
  font-weight: 300;
  color: #153643;
}

.p-1 {
  margin-left: 128px;
  margin-right: 20px;
  color: #153643;
}

.img-main {
  width: 327px;
}

.portrait {
  margin: 0px 23px 8px 23px;
  width: 327px;
}

.img-txt {
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;
}

.img-txt, .description {
  font-family: seravek;
}

h2 {
  font-size: 35px;
  font-family: brush-script-std;
  text-align: center;
  font-weight: 100;
  margin: 40px;
  color: #EB7C2B;
}

hr {
  border: 2px solid white;
  border-radius: 2px;
  width: 330px;
  margin-bottom: 55px;
}




footer{
  background-color: #DBD2D8;
  padding: 10px 10px 80px 10px;
  border-radius: 20px 20px 0 0;
  color: #153643;
  text-align: center;
  font-family: Seravek;
  font-size: 16pt;
}

.footer-name{
  font-weight: bold;
}

.footer-signature{
  line-height: 40pt;
}




.player {
  background-color: #0A8B8D;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 375px;
  margin: auto;
}

.album {
  height: 90px;
  width: 90px;
  object-fit: fill;
}

.player-txt {
  padding: 20px 50px 20px 20px;
  margin: 0;
  font-family: Nunito, sans-serif;
  font-weight: normal;
  color: black;
}

.song {
  font-size: 20px;
  font-family: Nunito, sans-serif;
  font-weight: bold;
}

.artist {
  font-family: sans-serif;
  font-size: 16px;
}

.play-button {
  height: 55px;
  width: 55px;
  margin: auto 15px auto 0;
}

.play-button:hover{
  cursor: grab;
}